
<div id="modal_disclaimer" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Important info</h3>
  </div>
  <div class="modal-body">
    <p id="my_header_block">
    This is an app in alpha-stage to test if your Tesla Model S is available in the Tesla Motors REST API
    </p>
    <p>
      You are encouraged to use a temporary password for your myTesla site while trying this service.
    </p>
    <p>
    <p>
      The information you provide, and that is fetched from the Tesla REST API is not stored anywhere. It is only used for logging into the REST API, and then discarded. We recieve a cookie on authentication to the rest API, which is temporary stored with the rest of your session information.</p>
    </p>
    <p class="help-block" id="error_explanation">
    There is always a chance someone on the Internet tries to fetch your credentials any way they can.
    </p>
    <p>
    By using this site you understand, and agree to the following:
    </p>
    <p>
    This site is not in any way affiliated with Tesla Motors or anything else, any similarities are purely coincidencial. </p>

    <p>Everything is provided "as-is". </p>

    <p>We don't garantee for anything whatsoever regarding uptime, availablility, security, privacy or loss of that - nor anything else. </p>
    <p>By using this service you agree that you are on your own regarding all potential loss, direct or indirect - either private or business related.  </p>
    <p>If you don't agree, please just refrain from using this service. In case you intend to hold us accountable for anything - good, evil or in between, you are not allowed to use anything contained on this website. </p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">I understand and agree</button>
  </div>
</div>

<script>
$('#modal_disclaimer').modal()
</script>