<table class="table table-bordered table-hover table-striped">
  <thead>
  <tr>
    <th>Option codes</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><%= notice[8] rescue ''  %></td>
  </tr>
  </tbody>
</table>
