<div class="row">
  <div class="span4">
    <%= render 'form' %>
  </div>

  <div class="span8">
    <h5>This is an alpha app to test if your Tesla Model S is available in the Tesla Motors REST API</h5>
    <p>Please enter your credentials for MyTesla.</p>
    <p> The information is not stored anywhere, and is only used for logging into the REST API.</p>
    <p>But there is always a slight chance someone on the Internet tries to fetch your credentials any way they can.</p>
    <p id="my_alert_block">A smart precaution is to use a temporary MyTesla password if you want to try this service.</p>
    <p>In any case, please read the disclaimer below........</p>
  </div>
</div>
<br>
<div style="clear:left" class="muted text-center row">
  <small>
    This site is not in any way affiliated with Tesla Motors or anything else, any similarities are purely coincidencial.<br>
    
    Everything is provided "as-is".<br>
    
    We don't garantee for anything whatsoever regarding uptime, availablility, security, privacy or loss of that - nor anything else. <br>
    By using this service you agree that you are on your own regarding all potential loss, direct or indirect - either private or business related. <br>
    If you don't agree, please just refrain from using this service. In case you intend to hold us accountable for anything - good, evil or in between, you are not allowed to use anything contained on this website.
  </small>
</div>

