<div>
  <div>
    <%= render 'form' %>
  </div>

  <div style="margin: 10x; padding: 10px">
    <h5>This is a alpha app to test if your Tesla Model S is available in the Tesla Motors REST API</h5>
    <p>Please enter your credentials for MyTesla.</p><p> The information is not stored anywhere, and is only used for logging into the REST API, but please read the disclaimer below........</p>
  </div>
</div>

<div style="clear:left" class="muted text-center">
  <small>
    This site is not in any way affiliated with Tesla Motors or anything else, any similarities are purely coincidencial
    <br>
    Everything is provided "as-is"
    <br>
    We garantee for nothing whatsoever regarding uptime, availablility, security, privacy or loss of that - or anything else. <br>
    By using this service you agree that you are on your own regarding all potential loss,<br> direct or indirect - both private and business related. <br>
    <br>Please just refrain from using this service in case you intend to hold us accountable for anything - both good, evil or in between!<br>
  </small>
</div>

