<h1>TESLA REST API Veichle request</h1>

<%= render 'form' %>

<p>Please enter your MyTesla information. This is not stored anywhere, and is only used for logging into the REST API</p>

We garantee for nothing whatsoever regarding uptime, availablility, security, privacy or loss of that - or anything else. <br>
<br>
By using this service you agree that you are on your own regarding all potential loss,<br> direct or indirect - both private and business related. <br>
<br>Please just refrain from using this service in case you intend to hold us accountable for anything - both good, evil or in between!<br>


